.header {
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #eee;
  backdrop-filter: blur(10px);
  border-bottom: 1px solid #ccc;
  padding-left: 20px;
}

.logo {
  height: 80%;
  width: auto;
}

.brand {
  font-size: 24px;
  font-weight: 800;
}